ipv6 unicast-routing
ipv6 router ospf {{ item.processID }}

hostname {{ item.hostname }}

{% for i in range(item.interfaceIP|length)  %}
interface FastEthernet{{ item.interfaceName[i] }}
 no shutdown
 duplex full
 ip address {{ item.interfaceIP[i] }}
 ipv6 address {{ item.ipv6[i] }}
 ipv6 enable 
 {{ item.ospfv3[i] }}
 description {{ item.description[i] }}

{% endfor %}

router ospf {{ item.processID }}
{% for ip in item.ospfNetwork %}
 network {{ ip }} area {{ item.ospfArea }}
{% endfor %}
